@import url('https://fonts.googleapis.com/css?family=Merriweather');

.App {
  height: 100%;
  width: 100%;
}

.App-header {
  background-color: #7BD8BE;
  height: 24px;
  padding: 24px 24px 24px 40px;
  color: #8d59ed;
  font-family: 'Merriweather', serif;
  text-shadow: 1px 1px #ffffff;
  font-size: 24px;
}

.App-intro {
  font-size: large;
}
